body{
    background: url(newbg.jpg);
    background-size: cover;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 350px;
    height: 520px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    border: 2px solid rgb(226, 43, 43);
    border-radius: 10px;
    align-items: center;
}
.form h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0) ;
}
.form .login{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.login input, button{
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-size: 15px;
}
.login input{
    background-color: #ffffff2e;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    text-indent: 35px;
    font-style: italic;
    background-image: url(profile.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
}
.login input:nth-child(2){
    background: url(padlock.png);
    background-size: 20px;
    background-color: #ffffff2e;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    background-position: 15px;
}
.login input::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgb(33, 0, 0);
}
.login button{
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 17px;
    font-family: calibri;
    text-transform: uppercase;
    cursor: pointer; 
}

.login button:hover{
    background-color: rgba(0, 87, 210, 0.955);
}
.suggest{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: calibri;
    font-size: 16px;
    color: white;
}
.forgot{
    color: rgb(110, 202, 255);
    cursor: pointer; 
}
.forgot:hover{
    color: rgb(255, 255, 255);
}
h5{
    color:rgba(211, 211, 211, 0.554);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    display: flex;
    text-shadow: 10PX;
    padding-top: 100PX;
}